[Unit]
Description=Service to read DHT22 sensors measurements
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/pi_fan_app
Environment="PATH=/home/pi/pi_fan_app/pi_fan_env/bin"
ExecStart=/home/pi/pi_fan_app/pi_fan_env/python /home/pi/pi_fan_app/dht_sensors.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target