[Unit]
Description=Service to read DHT22 sensors measurements
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/rpi_fans_control
Environment="PATH=/home/pi/rpi_fans_control/pi_fan_env/bin"
ExecStart=/home/pi/rpi_fans_control/pi_fan_env/bin/python /home/pi/rpi_fans_control/dht_sensors.py
StandardInput=tty-force
Restart=always
WatchdogSec=30s

[Install]
WantedBy=multi-user.target
