[Unit]
Description=uWSGI instance to serve pi_fan_app
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/rpi_fans_control
Environment="PATH=/home/pi/rpi_fans_control/pi_fan_env/bin"
ExecStart=/home/pi/rpi_fans_control/pi_fan_env/bin/uwsgi --ini pi_fan_app.ini
Restart=on-failure
WatchdogSec=30s

[Install]
WantedBy=multi-user.target