{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Overall stats</h1>
        <p>
            <table class="table">
                <tbody>
                    {% for k, v in data.items() %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
{% endblock %}